[submodule "extern/include/glm"]
	path = extern/include/glm
	url = https://github.com/g-truc/glm.git
[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
