[submodule "testing/googletest"]
	path = testing/googletest
	url = https://github.com/google/googletest.git
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm.git
[submodule "external/box2d"]
	path = external/box2d
	url = https://github.com/erincatto/box2d.git
[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw.git
